<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Взаимодействие эмулятора РСС и шлюза взаимодействия РСС-СУРР</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        
        <div class="ref">
            
            <a class="home-ref" href="/" title="Главная страница">
                <img class="home" src="{{ url_for('static', filename='img/home.svg') }}" alt="Стартовая страница">
            </a>
            <div id="timer"></div>
        </div>
       
        <h1>Взаимодействие эмулятора РСС и шлюза взаимодействия РСС-СУРР</h1>

        <button id="openModal" class="button_settings">
            <img class="settings" src="{{ url_for('static', filename='img/gear.svg') }}" alt="Настройки" title="Настройки">
        </button>
    </header>

    <div class="text">
        <p class="KTCYR">БД КТСУР</p>
        <ul class="test">
            <li class="tect"><span>&#9675;</span>Основная</li>
            <li class="tect"><span>&#9679;</span>Тестовая</li>
        </ul>
    </div>
    
    {% block content %}

    <main class="butt">
        <a href="/plan_RSS"><button class="btn">Запрос формирования плана РСС</button></a>
        <a href="/plan_request"><button class="btn">Запрос плана работы антенных постов РСС</button></a>
        <a href="/plan_acceptance"><button class="btn">Приём плана РСС</button></a>
        <a href="/transmitting_antennas_RSS"><button class="btn">Передача состояния антенных постов РСС</button></a>
    </main>

    {% endblock %}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <h4 class="modal-header">Настройки</h4>
            <div class="modal_row">
                <span>Минимальная продолжительность сеанса,сек:   </span>
                <input id="min-call-time" type="text" value="30">
            </div>
            <div class="closes">
                <button class="close">Закрыть</button>
            </div>
        </div>
    </div>
    <div id="myEdit" class="modal">
        <div class="modal-content-edit">
            <h4 class="modal-header-edit">Редактирование антенного поста</h4>
            
            <div class="btns-edit">
                
                <button class="close-edit">Закрыть</button>
                <button class="edit-btn">Редактировать</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
