<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Имитатор центра обработки вызовов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        
        <div class="ref">
            
            <a class="home-ref" href="/" title="Главная страница">
                <img class="home" src="{{ url_for('static', filename='img/home.svg') }}" alt="Стартовая страница">
            </a>
            <div id="timer"></div>
        </div>
       
        <h1>Имитатор центра обработки вызовов</h1>
        
    </header>
    
    {% block content %}

    <main class="butt">
        <a href="/call__simulator"><button class="btn">Имитатор одиночных вызовов</button></a>
        <button class="btn">Имитатор потока вызовов</button>
        <button class="btn" onclick="release_all_frequency_resources()">Нахождение координат через API</button>
    </main>

    {% endblock %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
