{% extends "base.html" %}

{% block content %}

    <h2>Имитатор вызовов</h2>
<div class="content">
    <div class="input_parameters_imitator">
        <div class="row_com">
            
            <div class="column2_com">
        <span>Расположение абонента:</span>
                <br>
        <span>Широта , градусы</span>
        <input id="lat3" type="text" value="51">
        <span>Долгота, градусы</span>
        <input id="lon3" type="text" value="39">
        <div class="radio-dvi">
            <span>Симплекс прием</span>
            <input type="radio" value="1" name="radio" class="simple-checkbox">
            <span>Симплекс отдача</span>
            <input type="radio" value="1" name="radio" class="simple-checkbox">
            <span>Дуплекс</span>
            <input type="radio" value="2" name="radio" class="duplex-checkbox" checked>
        </div>
        
            </div>
            <!-- <div class="column3_com"> -->
               
                
            <!-- </div> -->
        </div>
        <div class="min-time-call">Минимальная Продолжительность вызова 30 секунд</div>
        <div class="btn2">
            <button id="task-btn_sim" onclick="">Старт</button>
        </div>

        <span>ОТВЕТ:</span>
        
        <span id="response3"></span>

    </div>
</div>
    
    
{% endblock %}