{% extends "base.html" %}

{% block content %}
<div class="loader-container loader-container--hidden">
    <span class="loader"></span>
    <span class="loader-container__title">Загрузка...</span>
</div>  
    <h2>Имитатор потока вызовов</h2>
<div class="content">
    
    <div class="input_parameters_imitator">
        
        <div class="row_com">
            
            <div class="column2_com">
                
        <div class="div-abonent">Данные абонента</div>
                <br>
        <div class="data-abonent">
            
            <span>Широта, градусы</span>
            <input id="lat4" type="text" value="51">
            <span>Долгота, градусы</span>
            <input id="lon4" type="text" value="39"> <img class="re-date-flow" src="../static/img/re.png">
            
            <!-- <span>Минимальная продолжительность сеанса,сек</span>
            <input id="min-call-time" type="text" value="30"> -->
        </div>
        <div class="radio-dvi">
            
            <span>Координаты:</span>
            <input type="radio" value="1" name="radio-coordinates" class="priority-checkbox" checked>
            <span>Изменять</span>
            <input type="radio" value="2" name="radio-coordinates" class="priority-rand-checkbox">
            <span>Не изменять</span>
        </div>
        <br>
        <div class="div-abonent">Параметры вызова</div>
        <br>
        <div class="radio-dvi">
            <span>Продолжительность сеанса:</span>
            <input type="radio" value="1" name="radio-time" class="time_call-rand">
            <span>Случайная</span>
            <input type="radio" value="1" name="radio-time" class="time_call-max" checked>
            <span>Максимальная</span>
            
        </div>
        <div class="radio-dvi">
            <span>Вид связи:</span>
            <input type="radio" value="1" name="radio" class="simple-checkbox">
            <span>Симплекс прием</span>
            <input type="radio" value="1" name="radio" class="simple-checkbox">
            <span>Симплекс передача</span>
            <input type="radio" value="2" name="radio" class="duplex-checkbox" checked>
            <span>Дуплекс</span>
        </div>
        <div>
            <span>Количество вызовов</span>
            <input id="quantity_calls" type="text" value="10">
            <span>за</span>
            <input id="time_calls" type="text" value="100">
            <span>сек</span> 
        </div>
        <div class="radio-dvi">
            
            <span>Очередность вызов:</span>
            <input type="radio" value="1" name="radio-call" class="priority-checkbox" checked>
            <span>Монотонная</span>
            <input type="radio" value="2" name="radio-call" class="priority-rand-checkbox">
            <span>Случайная</span>
        </div>
        
            </div>
            <!-- <div class="column3_com"> -->
               
                
            <!-- </div> -->
        </div>
       
        <div class="btn2">
            <button id="task-btn_sim_flow" onclick="">Старт</button>
            <button id="task-btn_cansel_flow" onclick="">Остановить</button>
        </div>

        <div class="header-log">Доступный КА::</div>
        
        <span id="response3"></span>

    </div>
    
</div>
    
    
{% endblock %}